* {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

h1 {
    font-size: 72px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 200;
}

body {
    background: radial-gradient(108.65% 108.65% at 30.16% 57.15%, #FFFFFF 40.08%, rgba(155, 156, 234, 0.354167) 56.67%, rgba(133, 135, 249, 0.7) 98%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
}

.calculator {
    position: relative;
    margin: auto;
    margin-top: 10vh;
    background-color: #282A31;
    height: 70vmin;
    min-height: 400px;
    max-width: 70vw;
    min-width: 20vw;
    border-radius: 30px;
    border: 1px solid #282A31;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.display {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 28%;
    align-items: flex-end;
    background-color: #1C1D22;
    border-radius: 29px 29px 0 0;
    padding: 3vh 5vw 3vh 10vw;
    overflow: hidden;
}

button {
    border-style: none;
    transition: 0.5s;
    background-color: #282A31;
}

button:hover {
    background-color:rgba(255,255,255,0.2);
}

.grid {
    margin: 0;
    display: grid;
    height: 70%;
    gap: 0;
    grid-template-rows: repeat(5,20%);
    grid-template-columns: repeat(4,25%);
}

#AC {
    grid-column: 1/span 2;
    color: #244FE5;
    font-weight: 700;
}